.title{
    font-size: 700%;
    color: crimson;
    align-content: center;
    margin-left: 30%;
}

.infos{
    font-size: 200%;
    margin-left: 30%;
}

.Links{
    font-size: 150%;
    margin-left: 30%;
}