.row {
    display: flex;
    
}

.firstColumn{
    width: 30%;
    background-color:rgb(46, 84, 151);
    flex: 30%;
}

.secondcolumn {
    flex: 30%;
    width: 40%;
    background-color:white;
}

.tirthcolumn {
    flex: 40%;
    background-color:white;
}

.title {
    margin-left: 18%;
    font-family: sans-serif;
    font-size: 300%;
    color: black;
    
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width:50%;
}

.biggerText{
    font-family: sans-serif;
    font-size: 150%;
    margin-left: 20%;
    margin-right: auto;
}

.biggerTitle{
    font-family: sans-serif;
    font-size: 150%;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5%;
}

.smallTitle{
    font-family: sans-serif;
    font-size: 120%;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5%;
    
}

.sideText{
    font-family: sans-serif;
    font-size: 120%;
}

.title:hover{
    font-family: sans-serif;
    background-color: aqua
}

.titleOnBlue{
    color: white;
    margin-left: 20%;
    margin-top: 10%;
}

.textOnBlue{
    color: white;
    margin-left: 20%;
}

.middleTitle{
    font-size: 200%;
    background-color: floralwhite;
}

